@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

h1 {
  text-align: center;
  background-color: #3e4c59;
  padding: 20px;
  font-size: 48px;
  margin: 0;
}

body {
  background-color: #323f4b;
}

h2 {
  text-align: center;
  font-size: 42px;
  color: #d3d8ba;
  font-family: "Open Sans", sans-serif;
  padding: 24px;
  margin: 0 auto;
}

table {
  margin: 0 auto;
  padding-bottom: 20px;
}

img {
  height: 150px;
  width: 300px;
}

a {
  text-decoration: none;
  color: #eceff0;
}
